.App {
  text-align: center;
}

body {
  color: white;
  background: url('./Images/stars2.webp') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* background-image: url('./Images/stars2.webp'); */

.title {
  font-size: 25px;
}

p {
  font-size: 12px;
}

button {
  display: block;
  margin: 0 auto;
}

.username_password {
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  margin-bottom: 14px;
}

.username {
  display: block;
  margin: 0 auto;
}

.password {
  display: block;
  margin: 0 auto;
}

.login_create_have_logout {
  display: flex;
  flex-direction: column;
  gap: 18px 0px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px 0px;
  max-width: 20%;
  margin: 0 auto;
  /* background: url(./Images/black.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 25px 25px rgb(0 0 0); */
}

.need_account {
  display: block;
  margin: 10 auto;
}

#logout {
  margin-top: 54px;
}

.intro_div {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

#intro_story {
  background: url('./Images/black.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 25px 25px rgb(0 0 0);
  font-size: 13px;
  margin: 0 auto;
  max-width: 50%;
}

.misson_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.img_proxima {
  width: 100%;
  height: auto;
  object-fit: contain;  
}

.img_tau_ceti {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img_upsilon {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#proxima {
  margin: 20px;
  border: 2px solid #505050;
  padding: 24px;
  background-color: black;
}

#tau {
  margin: 20px;
  border: 2px solid #505050;
  padding: 24px;
  background-color: black;
}

#upsilon { 
  margin: 20px;
  border: 2px solid #505050;
  padding: 24px;
  background-color: black;
}

#back_logout {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.intro_to_shipyard {
  display: flex;
  flex-direction: column;
}

#approach_terminal {
  background: url('./Images/black.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 25px 25px rgb(0 0 0);
  font-size: 13px;
  margin: 0 auto;
  max-width: 50%;
}

#ships_with_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0-x 10-x
}

#system_by_missions {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid #505050;
  background-color: black;
  padding: 24px;
}

.all_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px 0px;  
  margin: 20px;
  border: 2px solid #505050;
  background-color: black;
  padding: 24px;
}

#system_misson_img {
  width: 100%;
  height: auto;
  object-fit: contain;  
}

.ships_in_db {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

#add_new_ship {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid #505050;
  padding: 24px;
  gap: 25px 0px;
}

.createShip {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

#new_ship_input{
  margin-bottom: 10%;
}

.shipyard {
  display: flex;
  flex-direction: column;
  gap: 123px 0px;
}

.stats_parts_container {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}

#system_div {
  margin: 10px;
}

#shipyard_misson_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.your_spaceship {
  width: 48%;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px 140px;  
  margin: 0px auto;
  max-width: 90%;
}

#ship_info {
  width: 50%;
  border: 2px solid #505050;
  background-color: rgb(0 0 0);
}

#destination {
  width: 50%;
  border: 2px solid #505050;
  background-color: rgb(0 0 0);
}

.part {
  width: 50%
}

.parts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin: 0px auto;
  max-width: 90%;
}

#engine_parts_container {
  max-width: 35%;
}

.engine_parts {
  display: flex;
  flex-direction: row;
}

#epart1 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
  background-color: black;
}

#nuclear_div {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 34%;
  background: url("./Images/nuclear_reactor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 3px 2px rgb(0 0 0) inset;
}

#fusion_div {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 34%;
  background: url("./Images/fusion_reactor.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 3px 2px rgb(0 0 0) inset;
}

#antimatter_div {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 34%;
  background: url("./Images/antimatter_drive.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 3px 2px rgb(0 0 0) inset;
}

#carbon_div {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 34%;
  background: url("./Images/carbon_fiber.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 3px 2px rgb(0 0 0) inset;
}

#graphene_div {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 34%;
  background: url("./Images/graphene_weave.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 3px 2px rgb(0 0 0) inset;
}

#neutrino_div {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 34%;
  background: url("./Images/neutrino_repulsor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 3px 2px rgb(0 0 0) inset;
}

#epart2 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
  background-color: black;
}

#epart3 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
  background-color: black;
}

#shield_parts_container {
  max-width: 35%;
}

.hull_parts {
  display: flex;
  flex-direction: row;
  
}

#hpart1 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
  background-color: black;
}

#hpart2 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
  background-color: black;
}

#hpart3 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
  background-color: black;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
