body {
  /* font-family: "Courier New", "Lucida Console", "Monospace"; */
  color: white;
  font-size: 13px;
  text-align: center;
  text-decoration: solid;
  background: black;
  background-size: cover;
}

p {
  font-size: 16px;
}

button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  color: white;
  background-color: black;
  border: 1px solid #ffffff;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button .button_zoom {
  padding: 10px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.title {
  font-size: 25px;
}

.login_background {
  background: url('./Images/stars2.webp') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-top: -150px;
}

.all_login_containers {
  margin-top: 5%;
  padding: 200px;
}

.username_password {
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  margin-bottom: 14px;
}

.username {
  display: block;
  margin: 0 auto;
}

.password {
  display: block;
  margin: 0 auto;
}

.login_create_have_logout {
  display: flex;
  flex-direction: column;
  gap: 18px 0px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px 0px;
  max-width: 20%;
  margin: 0 auto;
}

.need_account {
  display: block;
  margin: 10 auto;
}

#logout {
  margin-top: 8%;
}

.intro_div {
  display: flex;
  flex-direction: column;
}

.intro_story {
  margin: 14px auto;
  margin-bottom: 3%;
  max-width: 50%;
  /* font-size: 18px; */
  -webkit-text-stroke: 0.2px #dddbdb;
}

#main_menu_logout {
  margin-top: 20%;
}

.mission_div {
  margin-top: 5%;
}

.mission_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.img_proxima {
  width: 100%;
  height: auto;
  object-fit: contain;  
}

.img_tau_ceti {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img_upsilon {
  margin-top: 5%;
  width: 100%;
  height: auto;
  object-fit: contain;
}

#proxima {
  margin: 20px;
  border: 2px solid #ffb000;
  padding: 24px;
  background-color: black;
}

#tau {
  margin: 20px;
  border: 2px solid #ffb000;
  padding: 24px;
  background-color: black;
}

#upsilon { 
  margin: 20px;
  border: 2px solid #ffb000;
  padding: 24px;
  background-color: black;
}

#intro_to_shipyard {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

#approach_terminal {
  margin: 14px auto;
  margin-bottom: 3%;
  max-width: 50%;
  /* font-size: 18px; */
  -webkit-text-stroke: 0.2px #dddbdb;}

#ships_with_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0-x 10-x
}

#system_by_missions {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid #ffb000;
  background-color: black;
  padding: 24px;
}

.all_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px 0px;  
  margin: 20px;
  border: 2px solid #6500a2;
  background-color: black;
  padding: 24px;
}

#system_misson_img {
  width: 100%;
  height: auto;
  object-fit: contain;  
}

.ships_in_db {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

#add_new_ship {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid #04dcff;
  padding: 24px;
  gap: 25px 0px;
}

.createShip {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

#new_ship_input{
  margin-bottom: 10%;
}

.shipyard {
  display: flex;
  flex-direction: column;
  gap: 75px 0px;
}

#system_div {
  margin: 10px;
}

#shipyard_misson_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px 140px;
  margin: 0px auto;
  max-width: 90%;
}

#ship_info {
  width: 50%;
  border: 2px solid #04dcff;  
  background-color: rgb(0 0 0);
}

#luminous_ship {
  width: 85%;
  height: 38%;
  margin: 0 auto;
  background: url("./Images/luminous_ship.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#destination {
  width: 50%;
  border: 2px solid #ffb000;
  background-color: rgb(0 0 0);
}

.part {
  width: 50%
}

.parts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16%;
  margin: 0px auto;
  max-width: 44%;
}

.inside_part {
  margin: 0px;
  font-size: 12px;
}

.part_button {
  margin-top: 4px;
  color: white;
  background-color: black;
  border: 1px solid #8beb32;
  font-size: 13px;
}

.engine_parts {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
}

#epart1 {
  height: 100%;
  width: 100px;
  margin: 0px;
  border: 2px solid #6500a2;
  padding: 10px;
  max-width: 33.33%;
  background-color: black;
}

#nuclear_div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("./Images/nuclear_reactor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#epart2 {
  height: 100%;
  width: 100px;
  margin: 0px;
  border: 2px solid #6500a2;
  padding: 10px;
  max-width: 33.33%;
  background-color: black;
}

#fusion_div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("./Images/fusion_reactor.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#epart3 {
  height: 100%;
  width: 100px;
  margin: 0px;
  border: 2px solid #6500a2;
  padding: 10px;
  max-width: 33.33%;
  background-color: black;
}

#antimatter_div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("./Images/antimatter_drive.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#spart1 {
  height: 100%;
  width: 100px;
  margin: 0px;
  border: 2px solid #6500a2;
  padding: 10px;
  max-width: 33.33%;
  background-color: black;
}

#carbon_div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("./Images/carbon_fiber.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#spart2 {
  height: 100%;
  width: 100px;
  margin: 0px;
  border: 2px solid #6500a2;
  padding: 10px;
  max-width: 33.33%;
  background-color: black;
}

#graphene_div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("./Images/graphene_weave.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#spart3 {
  height: 100%;
  width: 100px;
  margin: 0px;
  border: 2px solid #6500a2;
  padding: 10px;
  max-width: 33.33%;
  background-color: black;
}

#neutrino_div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("./Images/neutrino_repulsor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shield_parts {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
}

#shipyard_buttons {
  display: flex;
  margin-top: 5%;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
