.App {
  text-align: center;
}

body {
  color: white;
  background-color: rgb(0, 0, 0);
}

.title {
  font-size: 25px;
}

p {
  font-size: 12px;
}

button {
  display: block;
  margin: 0 auto;
}

.username_password {
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  margin-bottom: 14px;
}

.username {
  display: block;
  margin: 0 auto;
}

.password {
  display: block;
  margin: 0 auto;
}

.login_create_have_logout {
  display: flex;
  flex-direction: column;
  gap: 18px 0px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
}

.need_account {
  display: block;
  margin: 10 auto;
}

#logout {
  margin-top: 54px;
}

.intro_div {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

#intro_story {
  font-size: 13px;
  margin: 0 auto;
  max-width: 48%;
}

.misson_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

#proxima {
  margin: 20px;
  border: 2px solid #505050;
  padding: 24px;
}

#tau {
  margin: 20px;
  border: 2px solid #505050;
  padding: 24px;
}

#upsilon { 
  margin: 20px;
  border: 2px solid #505050;
  padding: 24px;
}

#back_logout {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.intro_to_shipyard {
  display: flex;
  flex-direction: column;
}

#approach_terminal {
  font-size: 13px;
  margin: 0 auto;
  margin-bottom: 2%;
  max-width: 48%;
}

.all_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px 0px;  
}

.ships_in_db {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

/* .add_new_ship {

} */

.shipyard {
  background-image: url('.//Images/original_shipyard.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stats_parts_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.your_spaceship {
  width: 48%;
}

.statistics {
  margin: 10px;
  width: 24%;
  border: 2px solid #505050;
  background-color: rgba(45, 45, 45, 0.5);
}

.part {
  width: 50%
}

.parts {
  margin: 10px;
  width: 24%;
  border: 2px solid #505050;
  background-color: rgba(45, 45, 45, 0.5);
}

.engine_parts {
  display: flex;
  flex-direction: row;
}

#epart1 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
}

#epart2 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
}

#epart3 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
}

.hull_parts {
  display: flex;
  flex-direction: row;
  
}

#hpart1 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
}

#hpart2 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
}

#hpart3 {
  margin: 6px;
  border: 2px solid #505050;
  padding: 0px;
  max-width: 33.33%;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
